---
layout: default
---

<section id="main-con">
    <div class="container">
        <div>
            <ul class="post-list">
              {% for post in paginator.posts limit:1 %}
                <li class="content">
                    <div class="img"><img src="{{ "/images/" }}{{ post.img }}" alt=""></div>
                    <div class="content-block">
                      	<div class="content-h">
                        	<p><span class="content-title">{{ post.title }}</span><span class="content-author"> ———— {{ post.author }}</span></p>
                      	</div>
						<div class="content-box">
                        	{{ post.content }}
                        </div>
                      <div class="content-f">
                        <p class="content-date">日期：{{ post.date | date: "%b %-d, %Y" }}</p>
                      </div>
                    </div>
                  {% endfor %}
                </li>
              
            </ul>
        </div>

      <div style="clear:both;"></div>
      <div class="pagination">
        {% if paginator.previous_page %}
          {% if paginator.previous_page == 1 %}
            <div class="navigation-item-left"><a href="/" class="previous2" disabled>上一页</a></div>
          {% else %}
            <div class="navigation-item-left"><a href="/page{{ paginator.previous_page }}" class="previous">上一页</a></div>
          {% endif %}
        {% endif %}
        {% if paginator.next_page %}
          <div class="navigation-item-right"><a href="/page{{ paginator.next_page }}" class="next">下一页</a></div>
        {% endif %}
      </div>
      
    </div>
</section>
