  <section id="weixin-con">
    <div class="weixin-box">
      <img src="/css/weixin.jpg">
      <h1 class="weixin-des">扫描或长按关注微信,精彩不限等着你</h1>
    </div>
  </section>
  <footer id="footer">
    <p class="footer-con">@良葱网络&nbsp;&nbsp;&nbsp;&nbsp; <span><a href="http://www.langoft.com" class="fabout">关于</a></span>&nbsp;&nbsp;&nbsp;&nbsp; <span onclick="javascript:void(0);" id="weixin">微信</span></p>
  </footer>
</body>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $(".navToggle").click(function(){
      $(this).toggleClass('open');
      $("nav").toggleClass('open');
    });
    $("#weixin").click(function(){
      $("#weixin-con").css('display','block');
    });
    $("#weixin-con").click(function(){
      $("#weixin-con").css('display','none');
    });
  });
</script>
